.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  padding: 3%;
}

th, td {
  border: 1px solid white;
  font-size: 20px;
}